body{
  padding-left: 60px;
  padding-right: 60px;
  background: rgb(253, 253, 217);
  font-family: Arial, Helvetica, sans-serif;
  /* background:url(beer.gif); */
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur( 4px );
}
body {
    margin: 0;
    overflow: hidden;
    
}

#floatingbubbles {
    width: 100%;
    height: 100%;
}

.flex-nav{
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    padding:30px;
}
 .navLogo{
   position: absolute;
   padding: 15px;
   top: 0;
   left: 0;
}
.navLogo img{
    width:60px; 
}

.navItems img{
    width: 26px;
}
.navItems a{
    padding: 0 30px;
    transition: all 2s;
}
.navItems a:hover{
    /* filter:invert(1); */
    background: rgb(228, 211, 59);
}
.tagLine{
    text-align: center;
    font-size: 25px;
}

.cards{
display: flex;
justify-content: center;
gap: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.cards img{
    width: 100%;
}
.cards p{
    text-align: center;
}
.card1, .card2, .card3{
align-items: center;
align-self: center;     
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 250px;
}

.card1, .card2,.card3{
background: rgb(246, 255, 197);
}
.card1:hover,.card2:hover,.card3:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.404);
}
.mobileNavItems{
    display: none;
}













#resultStats.hideOne, 
#resultStats.hideTwo{
  display: none;
  border:0;
  background: none;
}

.diceRoll{
  position: relative;
  display: flex;
   justify-content: center;
}

.diceRoll img{
  width: 350px;
  height: 350px;
}
#hiddenimage{
  
} 

#resultStats{
  display: flex;
position: relative;
  background: #F28C28;
  align-items: center;
  gap: 30px;
  height: 500px; 
  border: 10px black solid;
  overflow: hidden;
 }

#stats{
  font-size: 28px;
  padding-left: 30px;
  padding-right: 30px;
  width: 50%;
  z-index: 1;
}

#resultStats img{
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: white;
  object-fit: contain;
}
@media (max-width: 1000px) {
    body{
        padding: 0 !important; 
    }
    a{
        text-decoration: none;
    }
    
    .navLogo{
        position:relative;
        top: auto;
        left: auto;
     }
     .navLogo img{
        width: 100px; 
    }
    .tagLine{
        text-align: center;
        font-size: 20px;
        font-family: cursive;
        
    }
    .cards{
        display: flex;
        justify-content: center;
        flex-direction: column !important; 
        gap: 20px;
        }

    /* BOTTOM NAVIGATION */
    .navItems{
        display: none;
    }
    .mobileNavItems{
        display: flex;
        justify-content: center; 
        overflow: hidden;
        background-color:rgb(253, 253, 217); 
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-top:10px ;
        padding-bottom:10px ;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    }
    .mobileNavItems img{
        width: 26px;
    }
    .mobileNavItems a{
        padding: 0 30px;
    }
    
   

}
   
/*  OLD  */
/* 
@media (max-width: 1000px) {
  body{
    padding: 60px;
  }
#resultStats{
  flex-direction: column !important;
  
}
  #stats{
  position:absolute;
  justify-content: flex-end;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 60%;
  height:50%;
  z-index: 1;
    bottom:0;
    left:0;
  
}

#resultStats img{
  width:100%;
  height:50%;
  background: white;
  object-fit: contain;
}

}

 */